.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-row {
  height: auto;
}

table{
  width:100%;
}

.mat-cell {
  padding: 8px 40px 8px 0;
}

.example-option-img {
  vertical-align: middle;
}

button{
  margin:8px;
}

.example-card{
  margin-top: 20px;
  width: 1000px;
}

.prikaz{
  display: flex;
  justify-content: center;
}
