.example-form {
  min-width: 100px;
  max-width: 300px;
  width: 100%;
  padding-top: 3rem;
  margin:auto;
}

.example-full-width {
  width: 100%;
}

.example-card {
  margin: 20px;
  max-width: 400px;
}

input[type="file"]{
  visibility: hidden;
}

.prikaz{
  display: flex;
  justify-content: center;
}

.prikaz-slike{
  height: 5rem;
  margin: 1rem 0;
}

.prikaz-slike img{
  height: 100%;
}

button{
  margin-bottom:20px;
}
